.loader__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.loader__spinner {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  color: #fff;
  -webkit-animation: anim 1s linear infinite alternate;
  animation: anim 1s linear infinite alternate;
}

.loader {
  min-width: 200px;
  width: 33.33%;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  cursor: pointer;
  transition: 0.3s linear;
}

@keyframes anim {
  0% {
    box-shadow:
      -38px -6px,
      -14px 6px,
      14px -6px;
  }
  33% {
    box-shadow:
      -38px 6px,
      -14px -6px,
      14px 6px;
  }
  66% {
    box-shadow:
      -38px -6px,
      -14px 6px,
      14px -6px;
  }
  100% {
    box-shadow:
      -38px 6px,
      -14px -6px,
      14px 6px;
  }
}
