.card__image {
  min-width: 288px;
  border-radius: 10px;
  transition: 0.5s;
  height: 288px;
  cursor: pointer;
}

.card__descr {
  font-size: 16px;
  padding: 0 0 10px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  max-width: 290px;
  border: 1px solid white;
  border-radius: 12px;
}

.card__title {
  font-weight: bold;
}

.card__header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
