.search-form__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  position: relative;
  display: flex;
  gap: 10px;
}

.search-form__button {
  color: #6d1935;
  padding: 10px;
  background: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.search-form__input {
  width: 650px;
  height: 40px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
}

.search-form__input:focus {
  outline: none;
}
